{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-5"> 
            <h2 class="join-message">Edit Profile</h2>
            <form action="/users/profile/{{ user.id }}" method = "POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    <div class="form-group">
                        {{field(class_='form-control', placeholder= field.label.text)}}
                    </div>
                {% endfor %}
                <div class="text-right">
                    <a href="/" class = 'btn btn-warning btn-lg'>Cancel</a>
                    <button type='submit' class = 'btn btn-primary btn-lg'>Update Profile</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}